[submodule "lib/aff3ct"]
	path = lib/aff3ct
	url = https://simonrus@bitbucket.org/simonrus/aff3ct-lib.git
[submodule "3rdparty/lpdec"]
	path = 3rdparty/lpdec
	url = https://github.com/supermihi/lpdec.git
