[submodule "lib/aff3ct"]
	path = lib/aff3ct
	url = https://simonrus@bitbucket.org/simonrus/aff3ct-lib.git
[submodule "3rdparty/lpdec"]
	path = 3rdparty/lpdec
	url = https://github.com/supermihi/lpdec.git
[submodule "3rdparty/loguru"]
	path = 3rdparty/loguru
	url = https://github.com/emilk/loguru.git
[submodule "3rdparty/cxxtest"]
	path = 3rdparty/cxxtest
	url = https://github.com/CxxTest/cxxtest.git
[submodule "3rdparty/flatbuffers"]
	path = 3rdparty/flatbuffers
    url = https://github.com/google/flatbuffers.git
[submodule "3rdparty/cppzmq"]
	path = 3rdparty/cppzmq
    url = https://github.com/zeromq/cppzmq.git
